/* Styles for the slug container */
.slug {
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* Styles for heading level 1 */
h1 {
    color: black;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: normal;
    text-transform: uppercase;
    text-decoration: underline;
}

/* Styles for heading level 3 */
h3 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: normal;
    text-transform: uppercase;
    text-decoration: underline;
}

/* Styles for the main container */
.slug-container {
    gap: 20px;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    border-radius: 5px; 
    overflow-x: hidden;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Styles for the input form within the container */
.slug-form-input {
    gap: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Styles for labels within the input form */
.slug-form-input label {
    color: black;
    font-size: 24px;
    font-weight: 400;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: capitalize;
}

/* Styles for text inputs within the input form */
.slug-form-input input[type="text"] {
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 13px 18px;
    border: 1px solid #B1AEAE;
    transition: border-color 0.3s ease-in-out;
}

/* Styles for focused text inputs */
input[type="text"]:focus{
    border-color: black;
}

.btn {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Styles for the generate slug button */
.input-btn {
    width: 30%;
    height: auto;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: normal;
    word-spacing: normal;
    letter-spacing: normal;
    border-radius: 2px;
    border: 1px solid black;
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

/* Styles for hover effect on the generate slug button */
.input-btn:hover {
    color: black;
    background-color: #B1AEAE;
    border: 1px solid #B1AEAE;
}

/* Styles for the reset slug button */
.reset-btn {
    width: 30%;
    height: auto;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: normal;
    word-spacing: normal;
    letter-spacing: normal;
    border-radius: 2px;
    border: 1px solid black;
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

/* Styles for hover effect on the reset slug button */
.reset-btn:hover {
    color: black;
    background-color: #B1AEAE;
    border: 1px solid #B1AEAE;
}

/* Styles for the separator line */
.line {
    width: 100vw;
    border: 1px solid black;
}

/* Styles for the output container */
.slug-form-output {
    gap: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* Styles for labels within the output container */
.slug-form-output label {
    color: black;
    font-size: 20px;
    font-weight: 400;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: capitalize;
}

/* Styles for the container of the output text input and copy button */
.slug-form-output-container {
    display: flex;
}

/* Styles for the output text input */
.slug-form-output-container input[type="text"] {
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    border: none;
    outline: none;
    border-radius: 2px 0px 0px 2px;
    padding: 10px 15px;
    border: 1px solid #B1AEAE;
    transition: border-color 0.3s ease-in-out;
}

/* Styles for focused output text input */
.slug-form-output-container input[type="text"]:focus{
    border-color: black;
}

/* Styles for the copy button */
.output-btn {
    width: 25%;
    height: auto;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: normal;
    word-spacing: normal;
    letter-spacing: normal;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid black;
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

/* Styles for hover effect on the copy button */
.output-btn:hover {
    color: black;
    background-color: #B1AEAE;
    border: 1px solid #B1AEAE;
}
